*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:sans-serif;
}
body{
    width:100%;
    max-height:100%;
    overflow: hidden;
}
.header{
    width:100%;
    height:100vh;
    background-image: linear-gradient(rgba(5,2,52,0.5),rgba(3,53,120,0.4)),url(images/world.avif);
    background-size: cover;
}

nav{
    width:100%;
    padding:18px 1.2rem;
    transition: background 2s;
}
nav .logo{
    display:flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1.4rem;
    color:#fff;
    font-weight: 500;
    transition: background 1s ease-in-out;
}
nav ul li{
    display: inline-block;
    list-style:none;
    margin: 10px 30px;
}
nav ul li a{
    text-decoration: none;
    color:#fff;

}
nav:hover{
    background:rgb(29, 27, 37);
}
nav:hover ul li  a{
    color: rgb(251, 199, 45);
}
.content {
    color:#fff;
    font-family: inherit;
    margin-top:8%;
    margin-left:5%;
}
.content{
    font-size:2rem;
    line-height:50px;
    font-weight: 700;
}
.content > p{
    margin-top:2%;
    max-width: 50%;
    line-height: 40px;
    font-size:1.2rem !important;
    letter-spacing: 1px;
}
button{
    display: inline-block;
    border:none;
    padding:.8em 3rem;
    border-radius: .2em;
    font-size:1.1rem;
    position: relative;
}
button{
    margin-top:1.5em;
    color:white;
}
.buttonTwo{
    background-color: rgb(251, 199, 45);
    font-weight: 700;
}
.buttonOne{
    background:rgb(155, 20, 139);
    background:linear-gradient(34deg,
    rgb(170, 19, 109) 0%,
    rgb(65, 8, 53)
    );
    font-weight:700;
}

.buttonOne:hover {
    color: #f0094a;
    background: transparent;
     box-shadow:none;
  }
.buttonOne:before,
.buttonOne:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #e3086e;
    box-shadow:
     -1px -1px 5px 0px #fff,
     7px 7px 20px 0px #0003,
     4px 4px 5px 0px #0002;
    transition:400ms ease all;
  }
.buttonOne:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
.buttonOne:hover:before,
.buttonOne:hover:after{
    width:100%;
    transition:800ms ease all;
  }

.buttonTwo:before,
.buttonTwo:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: rgb(251, 199, 45);
    box-shadow:
     -1px -1px 5px 0px #fff,
     7px 7px 20px 0px #0003,
     4px 4px 5px 0px #0002;
    transition:400ms ease all;
}
.buttonTwo:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
}
.buttonTwo:hover{
    color:rgb(251, 199, 45);
    background:transparent;
    box-shadow: none;
}
.buttonTwo:hover:before,
.buttonTwo:hover:after{
    width:100%;
    transition:800ms ease all;
  }

a{
    text-decoration: none;
    color:#fff;
    font-size:1.4rem;
}
.hoon,.content{
    animation: hoon 2s linear forwards;
}

@keyframes hoon {
    0%{
        transform: translateX(5%);
        opacity: 0;
    }
    100%{
        trasform:transformX(0);
        opacity:1;
    }
    
}
p.hoon{
    animation-delay: 1.5s;
}
